tr {
  td {
    &.status {
      text-align: center;

      i {
        margin-top: 3px;
      }
    }
  }

  &.has-error {
    > td {
      background-color: #f2dede;
    }
  }

  &.has-warning {
    > td {
      background-color: #fcf8e3;
    }
  }

  &.successful {
    > td {
      background-color: #dff0d8;
    }
  }

  &.not-done-yet {
    > td {
      background-color: #d9edf7;
    }
  }
}
